langchain
langchain-openai
langchain-community
langchain-text-splitters
langchain-google-genai
faiss-cpu
pinecone-client
llama-index-core
llama-index-llms-openai
llama-index-embeddings-openai
llama-index-vector-stores-faiss
pypdf
litellm
llama-index-llms-litellm
chromadb
sentence-transformers
pymupdf
rank-bm25
langchain-chroma
ragas
evidently
flashrank
google-genai
beautifulsoup4
google-adk
html2text
mcp[cli]
requests
deprecated
joblib
openevolve


pyyaml
pytest
